* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  font-family: Arial;
  font-size: 1.2rem;
}

.container {
  padding: 5% 5%;
}

#main-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#main-container > *:not(:first-child) {
  margin-top: 15px;
}

h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffc8a488;
  border-radius: 3px;
  max-width: 100vw;
  padding: 15px;
}

form > *:not(:first-child) {
  margin-top: 15px;
}

label, button[type=submit] {
  display: flex;
  flex-direction: column;
}

input {
  width: 150px;
  border: none;
  border-radius: 3px;
  outline: none;
  padding: 5px;
}

button[type=submit] {
  border-radius: 3px;
  padding: 5px 15px;
  border: none;
  background: #ff660088;
  cursor: pointer;
}